<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loading Message</title>
  </head>
  <body>
    Your hash has been stored.

    Your hash is <%= params %>
    <%= session[:params] %>
  </body>
</html>
